*{
    font-family: 'Helvetica';
}

body{
    overflow-x: hidden;
}

h1 {
    font-family: 'Helvetica';
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    width: 100%;
    background-image: url("../images/pattern.jpeg");
    margin: 40 auto;
    text-align: center;
}

h2 {
    font-family: 'Helvetica';
    font-size: 32px;
    font-weight: bold;
    color: white;
    width: 100%;
    padding: 0 10px;
}

h2.brushes{
    background-color: mediumspringgreen;
}

h2.frames{
    background-color: lightcoral;
}

h2.paint{
    background-color: skyblue;
}

img{
    display: block;
}

strong{
    color: blue;
    font-weight: bold;
    font-family: 'Helvetica';
}