<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>Hello {{ whoami }} World</h1>
        <br>
        <ul>
            <li v-for="todo in todos">{{ todo.text }}: {{ todo.importance }} importance</li> <!-- v-for is a directive that allows you to loop through an array and render a list item for each element in the array-->
        </ul>
        <button v-on:click="showMessage">Click me or die</button> <!-- v-on:click is a directive that listens for a click event and executes the specified code when the event occurs -->
        <!-- the v-on: directive is more or less an implementation of event listeners -->
        <hr>
        <input v-model="whoami" type="text"> <!-- the v-model directive creates a two-way binding between the input element and the specified data property. The displayed value of whoami will be updated in real-time, and any changes to whoami will also update the input field. -->
        <hr>
        <ol>
            <!-- using a component in Vue - the component is defined in the JavaScript and can be used as a custom HTML element. -->
            <!-- the v-bind: directive is used to bind a property to a component's prop. This binding allows you to pass data from the parent component to the child component dynamically. -->
            <todo-item 
                v-for="todo in todos" 
                v-bind:todo="todo"
                v-bind:key="todo.text">
            </todo-item>
        </ol>
    </div>

    <script>
        // define a new component called todo-item
        Vue.component('todo-item', {
            props: ['todo'], //the props option is used to define the properties that the component CAN receive from its parent component. 
            template: '<li><strong>{{ todo.text }}</strong>: {{ todo.importance }} importance</li>' //the HTML template for the component which will be rendered when the component is used in the HTML
        })

        //main Vue instance
        const app = new Vue({ //create a new Vue instance
            el: '#app', //the element to mount the Vue instance on
            data: { //(i'm guessing) this object contains all nested data for use in the Vue instance, often as numerous properties organized in a way that makes sense for the application
                //because the app uses this object as the source of data, 
                // you would refer to a whoami property as 'app.whoami' (not app.data.whoami) in JavaScript code and 'whoami' in the HTML templates 
                whoami: 'Vue.js', //data property that can be used in templates
                todos: [ //app.todos or {{ todos }} in templates
                    { 
                        text: "eat food",
                        importance: "high"
                    }, //arrays need store objects (not basic types) for use in templates - the properties of the objects can be accessed in the templates
                    { 
                        text: "exercise",
                        importance: "high"
                    }, 
                    { 
                        text: "kick rocks",
                        importance: "low"
                    }
                ]
            },
            methods: { //this object contains all methods that can be used in the Vue instance/called from the HTML templates
                showMessage() {
                    alert('You did it!');
                },
                changeWhoami(newWhoami) {
                    this.whoami = newWhoami; //this refers to the Vue instance, and this.[property] is accessed from the Vue instance's Data object
                }
            }
        })

        
    </script>
</body>
</html>