*{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;   
    box-sizing: border-box;
}
body{
    margin-top: 69px;
}

nav{
    position: fixed;
    top: 0px;
    height: 69px;
    display: flex;
    /* flex-flow: row-reverse nowrap; */
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid seashell;
    padding: 0 10px;
    width: 100%;
    z-index: 100;
}

a{
    text-decoration: underline;
    margin: 0 20px;
}

img#logo{
    margin-right: auto;
    height: 50px;
}

div#media1 {
    display: flex;
    width: 1200px;
    height: 700px;
    margin: 0 auto 50px;
    background-image: url('./images/img-mission-background.jpg');
    align-items: center;
}

.banner {
    opacity: 1;
    width: 100%;
}

h2{
    font-size: xx-large;
}

#teaoptions{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.teaoption{
    width: 300px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    overflow: visible;
    margin: 20px 10px;
    flex-flow: column nowrap;
}

.teaoption img{
    width: 300px;
    height: 200px;
}

.banner.tea h4{
    margin: 0;
    padding-top: 10px;
}

#fallberry{
    background-image: url("./images/img-berryblitz.jpg");
    background-size: cover;
}

#spicedrum{
    background-image: url("./images/img-spiced-rum.jpg");
    background-size: cover;
}

#donuts{
    background-image: url("./images/img-donut.jpg");
    background-size: cover;
}

#myrtleave{
    background-image: url("./images/img-myrtle-ave.jpg");
    background-size: cover;
}

#bedford{
    background-image: url("./images/img-bedford-bizarre.jpg");
    background-size: cover;
}

#media2{
    background-image: url("./images/img-locations-background.jpg");
    background-size: cover;
    height: 500px;
    width: 1200px;
    margin: 50px auto 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#media2 #title{
    background-color: transparent;
    flex-basis: 100%;
    flex-shrink: 0;
    margin-bottom: 0;
    transform: translateY(20px);
}

.locationblock{
    margin: 15px 20px;
    width: 300px;
    height: 300px;
    opacity: 1;
    transform: translateY(-35px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.locationblock h4, h3{
    margin: 0px;
}

.footerish{
    height: 200px;
    text-align: center;
    margin-bottom: 20px;
}

.footerish h2{
    margin: 10px auto 55px;
}

footer p {
    text-align: left;
    margin-left: 20px;
}